:root {
  background-color: rgb(175, 175, 175);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  max-width: 1000px;
  height: 100vh;
  margin: 0 auto;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 84vh;
  justify-content: center;
}

.active {
  font-weight: 1000;
  color: rgb(22, 78, 200);
  text-decoration: underline;
}

.text-very-satisfied {
    background-image: linear-gradient(to top right, rgb(62, 225, 62), rgb(84, 138, 255), rgb(255, 64, 64));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidden {
  display: none;
}